{%extends 'nave.html'%}
{%block content%}
{%load static%}
      <div class="middle">
        <div class="background_review">
          <img src="{% static 'img/Bibingka.webp' %}"
             alt="Bibingka"
             class="imageformat"/>

          <p class="description">
            <b class="product_name">Bibingka</b>
            <br>
            <br> 
              <a href="{% url 'bibingkaa/' %}" class="link"> <em> Description/ </em> </a>
              <a href="{% url 'bibingka1/' %}" class="link"> <em>Ingredients/</em> </a>
            <br>
            <br> 
            <br> 1. Preheat the oven to 375 degrees Fahrenheit.
            <br>
            <br> 2. Combine rice flour, baking powder, and salt then mix well. Set aside.
            <br>
            <br> 3. Cream butter then gradually put-in sugar while whisking. Add the eggs then whisk until every ingredient is well incorporated. Gradually add the rice flour, salt, and baking powder mixture then continue mixing. Pour-in coconut milk and fresh milk then whisk some more for 1 to 2 minutes.
            <br>
            <br> 4. Arrange the pre-cut banana leaf on a cake pan or baking pan.
            <br>
          </p>
        </div> 
      </div>
    </div>
{%endblock%} 