{%extends 'nave.html'%}
{%block content%}
{%load static%}
    <script>
      function mult(value) {
        var x, y, a, b, c, d;
        x= 2 * value;
        y= 1 * value;
        a= 1 * value;
        b= (parseFloat(0.5 / 1) * value).toFixed(1);
        c= 1 * value;
        d= 1 * value;
        e= 1 * value;
        f= 1 * value;
        g= 1 * value;
        h= 2 * value;
        i= 1 * value;


        document.getElementById('outputX').value = x;
        document.getElementById('outputY').value = y;
        document.getElementById('outputA').value = a;
        document.getElementById('outputB').value = b;
        document.getElementById('outputC').value = c;
        document.getElementById('outputD').value = d;
        document.getElementById('outputE').value = e;
        document.getElementById('outputF').value = f;
        document.getElementById('outputG').value = g;
        document.getElementById('outputH').value = h;
        document.getElementById('outputI').value = i;
      }
    </script>
  
      <div class="middle">
        <div class="background_review">
          <img src="{% static 'img/Halo-halo1.webp' %}"
             alt="Halo-halo"
             class="imageformat"/>

          <p class="description" style="font-size:17px;">
            <b class="product_name">Halo-halo</b>
            <label for="servings" class="serving_form1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Yield Serving: </label>
            <input type="number" name="Input" onkeyup="mult(this.value);" onclick="mult(this.value);" class="serving_design" value="1" min="1">
            <br><br>
              <a href="{% url 'halohaloo/' %}" class="link"> <em>Description/</em> </a>
              <a href="{% url 'halohaloo2/' %}" class="link"> <em>Direction to cook/ </em> </a>
            <br>

            <br><br> <input type="text" name="Output" id="outputX" class="serving_design" value="2" readonly> cups of shaved ice
            <input type="text" name="Output" id="outputY" class="serving_design" value="1"  readonly> ripe banana

            <br><br> <input type="text" name="Output" id="outputA" class="serving_design" value="1" readonly> cup shredded coconut
            <input type="text" name="Output" id="outputB" class="serving_design" value="0.5" readonly> cup sweet corn 

            <br><br> <input type="text" name="Output" id="outputC" class="serving_design" value="1" readonly> cup/s evaporated milk
            <input type="text" name="Output" id="outputD" class="serving_design" value="1" readonly> cup gelatin

            <br><br> <input type="text" name="Output" id="outputE" class="serving_design" value="1" readonly> cup nata de coco
            <input type="text" name="Output" id="outputF" class="serving_design" value="1"  readonly> cup ripe jackfruit

            <br><br> <input type="text" name="Output" id="outputG" class="serving_design" value="1" readonly> cup cooked sweet yams
            <input type="text" name="Output" id="outputH" class="serving_design" value="2" readonly> scoops of favorite ice cream

            <br><br> <input type="text" name="Output" id="outputI" class="serving_design" value="0.5" readonly> cup rice pop
          </p>
        </div> 
      </div>
    </div>
{%endblock%} 