{%extends 'nave.html'%}
{%block content%}
      <center>
          <img src="static/img/Recipe_Image.png"
               alt="Halo-halo"
               class="image_format2">
          <p class="paragraphformat"> 
            If there's any nation in the world with the sweetest of sweet-tooths, they would have to be Filipinos. In the Philippines, sweet treats are enjoyed throughout the day, both as desserts and as snacks. The local term for dessert in the Philippines is "pang himagas," but generally, most Filipinos use the word "dessert" as well. Some Philippine desserts have become so iconic that they're also included in food tours, especially international travelers. Like most of the Philippines' cuisine, Filipino desserts draw influences from China, Spain, America, Japan, and Islamic culture.
          <br>
          <br>
            The Philippines did not have a pronounced dessert culture in the early days, but as the years went on, it became more fashionable to enjoy dessert after a meal. This why a lot of Filipino snacks have now been converted to desserts. Filipinos enjoy a range of temperatures for their desserts, ranging from frozen, iced, room temperature, warm, and even hot. In a bit of irony, despite the Filipino penchant for sweet things, one of the most popular compliments one can give a dessert in the Philippines is, “it’s not too sweet.” 
          </p>
      </center>          
{%endblock%} 