{%extends 'nave.html'%}
{%block content%}
{%load static%}
      <div class="middle">
        <div class="background_review">
          <img src="{% static 'img/Puto.webp' %}"
             alt="Puto"
             class="imageformat"/>

          <p class="description">
            <b class="product_name">Puto</b>
            <br>
            <br>Prep: 20 mins
                  
                Cook: 30 mins
            <br>
                Total: 50 mins
            <br>
                Servings: 18
            <br>
            <br> 
              <a href="{% url 'puto1/' %}" class="link"> <em>Ingredients/</em> </a>
              <a href="{% url 'puto2/' %}" class="link"> <em>Direction to cook/ </em> </a>
            <br>
            <br>Description:
            <br>
            <br>
                Puto is a steamed rice cake delicacy served as a snack in the Philippines. Puto is frequently paired with savory foods like dinuguan (pork blood stew) or pancit (rice noodle).
                The traditional one is made with stone-ground rice, water, and sugar to produce the batter, which we call 'galapong.' Normally, they are fermented overnight before being steamed. When rice flour became available, everything got much easier.
          </p>
         </div> 
      </div>
    </div>
{%endblock%}    