{%extends 'nave.html'%}
{%block content%}
{%load static%}
      <div class="middle">
        <div class="background_review">
           <img src="{% static 'img/Sansrival.webp' %}"
             alt="Sans rival"
             class="imageformat"/>

          <p class="description">
            <b class="product_name">Sans rival</b>
            <br>
            <br> 
            <a href="{% url 'sansrival1/' %}" class="link"> <em>Ingredients/</em> </a>
              <a href="{% url 'sansrival2/' %}" class="link"> <em>Direction to cook/ </em> </a>
            <br>
            <br> 1. Preheat oven to 300 degrees F (150 degrees C). Line 4 - 8x12 inch pans with parchment paper.
            <br>
            <br> 2. In a large glass or metal mixing bowl, beat egg whites until foamy. Sprinkle with cream of tartar. Gradually add 2 cups white sugar, continuing to beat until stiff peaks form. Fold in 2 cups chopped nuts. Divide meringue between the 4 pans, and spread evenly to edges.
            <br>
            <br> 3. Bake in preheated oven for 30 minutes, or until light golden brown. Remove the meringue from the baking pans while still hot; allow to cool. When cool, trim edges so that all 4 meringue layers are uniformly shaped. Set aside.

            <br>
            <br> 4. To make buttercream filling: In a large bowl, Beat butter until light and fluffy. In a separate large bowl, whip egg yolks until thick and lemon colored.
          </p>
        </div> 
      </div>
    </div>
 {%endblock%} 