{%extends 'nave.html'%}
{%block content%}
{%load static%}
      <div class="middle">
        <div class="background_review">
          <img src="{% static 'img/Turon1.webp' %}"
             alt="Turon"
             class="imageformat"/>

          <p class="description">
            <b class="product_name">Turon</b>
            <br>
            <br> 
            <a href="{% url 'turonn/' %}" class="link"> <em> Description/ </em> </a>
            <a href="{% url 'turon1/' %}" class="link"> <em> Ingredients/ </em> </a>
            <br>
            <br> 1. Roll the banana on the sugar plate and ensure that the banana is coated with enough sugar
.
            <br>
            <br> 2. RPlace the banana with sugar coating in the spring roll wrapper and add some ripe jackfruit.
            <br>
            <br> 3. Fold and lock the spring roll wrapper, use water to seal the edge.
            <br>
            <br> 4. In a pan, heat the oil and put-in some sugar.Wait until the brown sugar floats.
            <br>
            <br> 5. Put-in the wrapped banana and fry until the wrapper turns golden brown and the extra sugar sticks on wrapper.
            <br>
            <br> 6. Serve hot as a dessert or snack. Share and Enjoy!
          </p>
        </div>  
      </div>
    </div>
{%endblock%} 